common --repository_cache=~/.cache/bazel_cache/repo_cache
common --repo_contents_cache=~/.cache/bazel_cache/content_cache
common --disk_cache=~/.cache/bazel_cache/disk_cache
common --experimental_repository_cache_hardlinks

# Configuration for ARM64 cross-compilation
build:linux_arm64 --platforms=//:linux_arm64

# Configuration for x86_64 cross-compilation
build:linux_x86_64 --platforms=//:linux_x86_64
build:macos_x86_64 --platforms=//:macos_x86_64

# Import user-specific configuration if present
try-import .bazelrc.user

# Coverage defaults
coverage --combined_report=lcov
coverage --instrumentation_filter=//
