# Bazel
/bazel-*
.bazelrc.user
/external

# Cache directory (contains local binaries and path cache)
.cache/

# Compilation Database
/compile_commands.json

# Coverage
/coverage.info
/coverage_report

# Editor
.vscode/

# OS
.DS_Store
